*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoMono';
}
 #index{
    overflow: hidden;
}

html,body{
    height: 100%;
    overflow-x: hidden;
}


body#main{
  
    background: url(../imagens/bgk.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;
  
}
body#elojob{
  
    background: url(../imagens/bkgElo.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;
    
}
body#elojob::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    opacity: .7;
  }

body#main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: #000;
    opacity: .7;
    
  }