:root{
  --i-color:#e17468;
  --text-color:#fff;
  --nav-color-hover:#15105e;
  --nav-color:#1b1583;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

 
 /* -------------------------HEADER------------------ */
 
  
 .navbar {
   max-height: 70px;
   font-size: 15;
   
 }
 .nav-item{
  position: relative;
 margin: 0.8rem;
 }
 
 .navbar .navbar-brand img {
  padding-top: 0.5rem;
  max-height: 90px;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fee500;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item:not(.active):hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-toggler{
  border: 3px solid #fee500;
}
.nav-item.active{
 border-bottom: 3px solid  #fee500;
}
  

/* botão do header e animação */
.contbtn{
 padding-top: 1rem;
}
 
.center {
  width: 180px;
  height: 60px;
  position:relative;
  
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
  
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 5%;
}
.btn:hover{
  box-shadow: inset 0 0 1em  #fee500, 0 0 1em #fee500;
  color: rgb(0, 0, 0);
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  border-radius: 5%;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #fee500;
  
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
   
}
.btn:hover span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
   
}
.nav-item.nav-link{
  color:rgb(172, 170, 170);
}
.nav-item.nav-link:hover{
  color:rgb(255, 255, 255);
}
.nav-item.nav-link.active{
  color:white;
}

/* modal */
 
.modal-box .show-modal{
  color: #7275d2;
  background-color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-transform: capitalize;
  padding: 10px 15px;
  margin: 80px auto 0;
  border: none;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  display: block;
  transition: all 0.3s ease;
}
.modal-box .show-modal:hover{
  color: #7275d2;
  border: none;
  outline: none;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
}
.modal-box .show-modal:focus{ background-color: #fff; }
.modal-backdrop.in{ opacity: 0; }
.modal-box .modal{ top: 90px !important; }
.modal-box .modal-dialog{
  width: 570px;
  margin: 20px auto 0;
}
.modal-box .modal-dialog .modal-content{
  text-align: center;
  border: none;

}
.modal-box .modal-dialog .modal-content .close{
  color: #000000;
  font-size: 28px;
  text-shadow: none;
  line-height: 33px;
  height: 33px;
  width: 33px;
  opacity: 1;
  position: absolute;
  left: auto;
  right: 10px;
  top: 10px;
  z-index: 1;
  transition: all 0.3s;
}
.modal-box .modal-dialog .modal-content .close span{
  margin: -1px 0 0 0;
  display: block;
}
.modal-box .modal-dialog .modal-content .close:hover{ 
color:#fee500;
}

.modal-box .modal-dialog .modal-content .close:focus{ 
outline: none; 
}

.modal-box .modal-dialog .modal-content .modal-body{
 padding: 30px 20px 15px !important; 
 background: url(../imagens/bgkModal.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  
}

.modal-box .modal-dialog .modal-content .modal-body .title{
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-transform: capitalize;
  margin: 0 0 10px;
  padding: 1rem;
}
.modal-box .modal-dialog .modal-content .modal-body .description{
  color: rgb(27, 27, 27);
  font-size: 15px;
  line-height: 22px;
  margin: 0 10px 25px;
}
.modal-box .modal-dialog .modal-content .modal-body .box-content{
  width: 45%;
  height: 200px;
  padding: 15px 20px;
  margin: 0 5px 20px;
  border: 1px solid #00000010 ;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
}
.modal-box .modal-dialog .modal-content .modal-body .box-content:hover,
.modal-box .modal-dialog .modal-content .modal-body .box-content:focus{
  background-color: #c4c4c45e ;
  transition: 0.5s;
}
.modal-box .modal-dialog .modal-content .modal-body .box-content .icon{
  color: #fee500;
  font-size: 160px;
  line-height: 80px;
  margin: 0 auto 10px;
}
.modal-box .modal-dialog .modal-content .modal-body .box-content .title{ font-size: 20px; }
.modal-box .modal-dialog .modal-content .modal-body .box-content .description{ margin-bottom: 0; }


.modal-box .modal-dialog .modal-content .modal-body .cancel:hover{
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1) inset;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:rgb(255, 255, 255);
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}


.my-float{
	margin-top:16px;
}
/* responsividade */
@media (max-width:992px) {
  #title{
   font-size:3rem;
  }
  #navbarNavAltMarkup{
    background-color: rgb(255, 255, 255);
  }

  .navbar .navbar-brand img {
    
    max-height: 80px;
  }


  .contbtn{
    padding-top: 0.5rem;
   }
    
   
   .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border:1px solid rgb(255, 255, 255);
  } 

  .nav-item.nav-link{
    color:rgb(172, 170, 170);
  }
  .nav-item.nav-link:hover{
    color:rgb(0, 0, 0);
  }
  .nav-item.nav-link.active{
    color:rgb(0, 0, 0);
  }
}


@media only screen and (max-width: 576px){
    .modal-dialog{ width: 93% !important; }
    .modal-box .modal-dialog .modal-content .modal-body .box-content{
        width: 100%;
        margin: 0 0 20px;
    }
}


 